{% extends 'navbar.html' %}
{%block title_block %} {{user_other.user_profile.full_name}} (@{{user_other.username}}) {%endblock%}
{%block css_block%}
<style>
  .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
  }
</style>
{% endblock%}
{% block body_block %}
<div class="row">
  <div class="col-sm-4">
    {% if user_other.user_profile.profile_pic %}
    <img src="/media/{{user_other.user_profile.profile_pic}}" width="250px" height="250px" class="rounded-circle">
    {% else %}
    <img src="/media/default.png" width="250px" height="250px" class="rounded-circle">
    {% endif %}
  </div>
  <div class="col-sm-8">
    <h1>{{user_other.username}} &nbsp;
      {% if not already_followed %}
      <a href="{% url 'App_Login:follow' username=user_other.username %}" class="btn btn-primary">Follow</a>
      {% else %}
      <a href="{% url 'App_Login:unfollow' username=user_other.username %}" class="btn btn-primary">Unfollow</a>
      {% endif %}
    </h1>
    <br>
    <h4>{{user_other.post.count}} posts &nbsp; &nbsp; {{user_other.following.count}} followers &nbsp; &nbsp; {{user_other.follower.count}} following</h4>
    <br>
    <h3>{{user_other.user_profile.full_name}}</h3>
    <p>{{user_other.user_profile.description|linebreaks}}</p>
  </div>
</div>
<hr>
<br>
<br>

<!-- Showing Posts -->
<div class="row">
  <div class="col-sm-8">
    {% for post in  user_other.post.all %}
      <div style="border: 1px solid #888888">
        <img src="/media/{{ post.image }}" width="100%" title="{{ post.caption }}">
        <div style="padding: 20px">
          {{ post.caption }}<br />
          <div class="d-flex ">
            {% if post.pk in liked_post_list %}
              <a href="{% url 'App_Posts:unliked' pk=post.pk %}">
                <i class="fa fa-heart" style="font-size: 36px"></i>
              </a>
            {% else %}
              <a href="{% url 'App_Posts:liked' pk=post.pk %}">
                <i class="fa fa-heart-o" style="font-size: 36px"></i>
              </a>
            {% endif %}
            <p class="mx-3"> {{ post.liked_post.count }} Likes </p>
          </div>
          
        </div>

        <!-- Comments Section -->
        <div style="padding: 20px; border-top: 1px solid #ccc">
          <strong>Comments:</strong>
          <ul>
            {% for comment in post.comments.all %}
              <li><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</li>
            {% empty %}
              <li>No comments yet.</li>
            {% endfor %}
          </ul>

        </div>

      </div>
      <br><br>
    {% endfor %}
  </div>
</div>
<!-- End Showing Posts -->
{% endblock %}
