
 #pics{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
#pics22{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.wht{
    color: white;
}
